<h2>Trending</h2>
<div class="Slider1">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div *ngFor="let a of ar;  let i = index" class="card" style="width: 15rem;">
                    <div *ngIf="i < 5">
                        <img class="card-img-top" src="{{a.poster_path}}" alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div *ngFor="let a of ar;  let i = index" class="card" style="width: 15rem;">
                    <div *ngIf="i > 4 && i < 10">
                        <img class="card-img-top" src="{{a.poster_path}}" alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div *ngFor="let a of ar;  let i = index" class="card" style="width: 15rem;">
                    <div *ngIf="i > 9 && i < 15">
                        <img class="card-img-top" src="{{a.poster_path}}" alt="Card image cap">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div *ngFor="let a of ar;  let i = index" class="card" style="width: 15rem;">
                    <div *ngIf="i > 14 && i < 20">
                        <img class="card-img-top" src="{{a.poster_path}}" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<h2>Upcoming Movies</h2>
<div class="Slider1">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div *ngFor="let a of arr;  let i = index" class="card" style="width: 15rem;">
                        <div *ngIf="i < 5">
                            <img class="card-img-top" src="{{a.poster_path}}" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div *ngFor="let a of arr;  let i = index" class="card" style="width: 15rem;">
                        <div *ngIf="i > 4 && i < 10">
                            <img class="card-img-top" src="{{a.poster_path}}" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div *ngFor="let a of arr;  let i = index" class="card" style="width: 15rem;">
                        <div *ngIf="i > 9 && i < 15">
                            <img class="card-img-top" src="{{a.poster_path}}" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div *ngFor="let a of arr;  let i = index" class="card" style="width: 15rem;">
                        <div *ngIf="i > 14 && i < 20">
                            <img class="card-img-top" src="{{a.poster_path}}" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>